.profile {
    width: 70%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.profile-image {
    position: relative;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    object-fit: cover;
    background-color: transparent;
    border: solid 5px #fff;
    border-radius: 50%;
}

.img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 100%;
    gap: 1em;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    
}
.profile-name {
    width: 100%;
    gap: 1em;
    margin-left: 1em;
    font-size: 1.5em;
    color: #00f3fc;
    font-weight: 600;
    justify-self: center;
}

.profile-title {
    margin-left: 1em;
    font-size: 1em;
    color: #ffbcff;
    font-weight: 600;
    justify-self: center;
}