.section-title {
    text-transform: capitalize;
    text-align: center;
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 2em;
    margin-top: 2em;
    background-image: linear-gradient(45deg, #f14d5c, #f3903f, #fdc70c);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.section-title::before {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    background-color: rgb(255, 204, 115);
    height: 3px;
    width: 35px;
}

.section-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: auto;
    top: 50%;
    transform: translate(0px, -50%);
    background-color: rgb(255, 204, 115);
    height: 3px;
    width: 35px;
}
