.experiences {
    max-width: 325px;
    margin: 0 auto;
    margin-top: 1rem;
    width: 100%;
}
.entry {
    border-left: #f3903f solid 2px;
    padding-bottom: 1rem;
}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}
.experience-title {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    text-overflow: inherit;
    background-image: linear-gradient(45deg, #f14d5c, #f3903f, #fdc70c);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.experience-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.entries .entry:nth-child(even) {
    background: #00000010;
}

@media only screen and (min-width: 480px) {
    .experiences {
        max-width: 480px;
    }
    .entries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .entry {
        border-right: #f3903f solid 2px;
        border-left: 0px;
        padding-right: 1rem;
        margin: 0;
    }
    .entries .entry:nth-child(even) {
        background: none;
    }
    .experiences .entry:nth-child(2n) {
        border: none;
        margin-top: 5rem;
        overflow-wrap: normal;
        text-align: initial;
        padding-left: 0.5rem;
        padding-right: 0;
    }
}
