*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-family: "Ubuntu", sans-serif;

    color: #ffffffee;
    background-color: #1d1d20;
    opacity: 0.8;
}
a {
    color: #333366;
    text-decoration: none;
}

p {
    overflow-wrap: break-word;
    text-align: justify;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
button:hover{
    transform: scale(1.05);
}
