.layout-container:nth-child(even) {
    background: #00000020;
}
.layout-container:last-child .stack-container:last-child .stack {
    display: none;
}

.layout-container:first-child .layout {
    min-height: 100vh;
}
